@import url(https://fonts.googleapis.com/css?family=Signika:600);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
body {margin: 0;background-color: #E9E0D6;}

::-moz-selection {
    color: #E9E0D6;
    background: #3A9AD9;
}

::selection {
    color: #E9E0D6;
    background: #3A9AD9;
}

.header {
	background-color: #EB7260;
	width: 100%;
}

.header h1 {
	text-align: center;
	margin: 0;
	padding: 30px;
	color: white;
	font-size: 100px;
	font-family: 'Signika', sans-serif;
}

.tab {
	background-color: #EB7260;
	float: left;
	width: calc(100% / 3);
}

.tab label {
	display: inline-block;
	font-size: 26px;
	color: white;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	padding: 5px 0;
	width: 100%;
	border-radius: 5px 5px 0 0;
	transition: .3s;
}

.tab [type=radio] {
	display: none;
}

.content {
	position: absolute;
	left: 0;
	right: 0;
	height: 100
	transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
}

input[type=radio]:checked ~ label {
  	background: #E9E0D6;
	color: #EB7260;
}

input[type=radio]:not(:checked) ~ label ~ .content {
	visibility: none;
	z-index: 0;
	opacity: 0;
}

input[type=radio]:checked ~ label ~ .content {
	visibility: visible;
	z-index: 100;
	opacity: 1;
}

input[type=radio]:not(:checked) ~ label:hover {
	background-color: #EA8E7E;
	cursor: pointer;
}

.projects ul li.active {
	background-color: #E9E0D6;
	color: #EB7260;
}

.content h2 {
	text-align: center;
	color: #3A9AD9;
	font-family: 'Signika', sans-serif;
	font-size: 54px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.content h3 {
	text-align: left;
	font-family: 'Signika', sans-serif;
	color: #3A9AD9;
	font-size: 30px;
	margin: 15px 0;
}

.content p {
	font-family: sans-serif;
	font-size: 18px;
	margin: 30px 20%;
	color: #354458;
	text-align: center;
}

.content img {
	filter: drop-shadow(0 0 4px #9d9d9d);
	-webkit-filter: drop-shadow(0 0 4px #9d9d9d);
}

#bot-chan {
	height: 275px;
}

#assistcord {
	height: 230px;
}

.left-img {
	margin: 0 100px 0 7%;
}

.left-img img {
	float: left;
	padding-right: 30px;
}

.left-img p {
	position: relative;
	right: 0;
	margin: 0;
	text-align: left;
}
