body {
	margin: 0;
}

main {
	margin: auto;
	width: 45rem;
	background-color: #f2f2f2;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.container {
	padding: 2.5rem;
	padding-top: 0;
}

.name-container {
	padding-top: 1rem;
}

.name {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.5rem;
	text-align: center;
	color: rgb(255, 48, 25);
	text-shadow: 1.3px 1.3px 0 rgba(150, 150, 150, 1);
}

.about {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	text-align: center;
}

.project-list {
	list-style-type: none;
	padding: 0;
}

.project-list li {
	margin-top: 1rem;
	text-align: center;
}

.project-list > li > a:link,
.project-list > li > a:active,
.project-list > li > a:visited,
.project-list > li > a:hover {
	text-decoration: none;
	color: inherit;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
	padding-bottom: .1rem;
	border-bottom: 1px solid rgb(47,47,47);
	transition: border-bottom 0.5s;
	-webkit-transition: border-bottom 0.5s;
	-moz-transition: border-bottom 0.5s;
}

.project-list > li > a:hover { border-bottom: 1px solid rgb(255, 48, 25); }
