body {
	font-family: 'Papyrus', cursive;
	font-weight: 900;
	font-size: 500%;
	text-align: justify;
	text-shadow: 25px 25px 5px rgba(255, 255, 109, 1);
	background-color: rgb(255,0,199);
	text-decoration: overline;
	text-rendering: optimizeSpeed;
	text-decoration-style: wavy;
	text-decoration-color: #f00;
	background-image: url('magnify.gif');
}

marquee {
	margin: 0;
	z-index: 100;
	position: absolute;
	color: #00ffd9;
	background-color: rgba(59,255,0,.5);
}

div {
	margin-left: 30%;
	color: white;
	border-style: inset;
	border-width: 50px;
	border-color: red;
	-webkit-animation: cssAnimation 1.514s infinite linear;
	-moz-animation: cssAnimation 1.514s infinite linear;
	-o-animation: cssAnimation 1.514s infinite linear;
}
@-webkit-keyframes cssAnimation {
	from { -webkit-transform: rotate(4deg) scale(0.913) skew(2deg) translate(0px); }
	to { -webkit-transform: rotate(0deg) scale(1.2) skew(20deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
	from { -moz-transform: rotate(4deg) scale(0.913) skew(2deg) translate(0px); }
	to { -moz-transform: rotate(0deg) scale(1.2) skew(20deg) translate(0px); }
}
@-o-keyframes cssAnimation {
	from { -o-transform: rotate(4deg) scale(0.913) skew(2deg) translate(0px); }
	to { -o-transform: rotate(0deg) scale(1.2) skew(20deg) translate(0px); }
}

a {
	color: hotpink;
}

p::after, h1::after {
	content: "High guise";
	color: blue;
}

p::before, h1::before {
	content: "I am gr8 designer higher me";
	color: green;
}

a::before, a::after {
	content: "LIIINNNKKKKKSSS";
	color: orange;
}
