@import "bulma"

.nav-name
	font-size: 1.8em

hr
	margin: 50px 0

.card
	margin: 10px 0
	&.is-customwidth
		width: 75%
		margin: 10px auto

.nav>.container
	padding: 0 20px

.button.is-discord
	background-color: #7289da
	&.is-inverted
		background-color: #fff
		color: #7289da
