form {
	margin: 50px;
	display: inline-block;
	text-align: left;
}

body { margin-top: 30px !important; }

#header { text-align: center; }

.card {
	width: 1000px;
	margin: auto;
}

form { display: block; }

.checkbox, .form-group { margin-left: 10px; }

#cmd { text-align: center; }
